.group-btn {
    .favorite-btn {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #d1d5db;
        border-radius: 99999px;
        transition: background-color 0.2s;

        &.active {
            .heart-icon {
                color: #ff4757;
                font-size: 18px;
                line-height: 28px;
            }
        }

        &:hover {
            background-color: rgba(224, 134, 134, 0.3);
        }
    }
}
